<h2>Filter Season</h2>
<form name="filterSeason" ng-submit="createSeasonCtrl.filterSeason()" class="form-horizontal">
<fieldset>
	 
	<div class="form-group">
			 <label for="leaguetype-input"
				class="col-lg-2 control-label">League Type</label>
			<div class="col-lg-10">
			<select ng-model="league.leagueType" required id="leaguetype-input" class="form-control" ng-options="x for x in league.leagueTypes" ng-change="refreshSeason()">
			</select>
			<!-- <input ng-model="season.leagueType" required id="leaguetype-input" class="form-control" value="pickem"/> -->
		</div>
	</div>
	
	
	<div class="form-group">
			 <label for="Season-input"
				class="col-lg-2 control-label">Season</label>
			<div class="col-lg-10">
			
			<select ng-model="league.seasons" required id="season-select" class="form-control" ng-change="refreshLeagues()">
				<option ng-repeat="season in league.seasons" value="{{season.id}}">
					 {{season.startYear}} - {{season.endYear}}
				</option>
			</select>
			<!-- <input ng-model="season.leagueType" required id="leaguetype-input" class="form-control" value="pickem"/> -->
		</div>
	</div>
	
	<div class="form-group">
			 <label for="leaguetype-input"
				class="col-lg-2 control-label">League</label>
			<div class="col-lg-10">
			<select ng-model="league.leagues" required id="leagues-input" class="form-control">
			<option ng-repeat="league in league.leagues" value="{{league.id}}">
					 {{league.leagueName}}
				</option>
			</select>
			<!-- <input ng-model="season.leagueType" required id="leaguetype-input" class="form-control" value="pickem"/> -->
		</div>
	</div>
	
	<br>
</fieldset>
</form>
