<div id="settings-panel">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="subnav" id="season-view">
					<div class="season-select">
						<select ng-model="league.leagueId" id="season" ng-change="changeLeague()" >
							<option ng-repeat="league in nav.leagues" value="{{league.leagueId}}">
						 		{{league.leagueName}}
							</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div id="logout">
					<a href="#" ng-click="logout()">logout</a>
				</div>
			</div>
		</div>
	</div>
</div>