<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

	<pick-row game=game status=status page=page	></pick-row>
	
	<div class="gamebox shadow {{status.gamestatus[game.id]}}">
		<div class="col-sm-12">
			
			
			<div class="row gamerow {{status.teamstatus[game.favId]}}" ng-click="(status.teamstatus[game.favId] === 'opponent' || status.teamstatus[game.favId] === 'doubleable' || status.teamstatus[game.favId] === 'unpicked' ) && makePick(game, 'fav', $index)"> 
			
				<!-- PICK TOOL -->
				<div class="col-xs-1 pick-selection-icon"><i class="fa fa-check-circle-o {{status.teamstatus[game.favId]}}"><span ng-show="status.teamstatus[game.favId] === 'double'">x2</span></i></div>
			
				<!-- TEAM ICON -->
				<div class="col-xs-2">
					<div class="team-icon {{game.favShortName}}"></div>
				</div>
			
				<!-- TEAM NAME ABBR-->
				<div class="col-xs-5 col-sm-6">
					<span class="short-name" ng-class="game.favHome ? 'home' : ''">{{game.favShortName}}</span><span class="long-name" ng-class="game.favHome ? 'home' : ''">{{game.favFullName}}</span>
				</div>
			
				<!-- SPREAD -->
				<div class="col-xs-1"><span class="spread">({{game.spread}})</span></div>
			
				<!-- SCORE -->
				<div class="col-xs-1">{{game.favScore}}</div>
			</div>
			
			<div class="row gamerow {{status.teamstatus[game.dogId]}}" ng-click="(status.teamstatus[game.dogId] === 'opponent' || status.teamstatus[game.dogId] === 'doubleable' || status.teamstatus[game.dogId] === 'unpicked' ) && makePick(game, 'dog', $index)"> 

				<!-- PICK TOOL -->
				<div class="col-xs-1 pick-selection-icon"><i class="fa fa-check-circle-o {{status.teamstatus[game.dogId]}}"><span ng-show="status.teamstatus[game.dogId] === 'double'">x2</span></i></div>

				<!-- TEAM ICON -->
				<div class="col-xs-2">
					<div class="team-icon {{game.dogShortName}}"></div>
				</div>

				<!-- TEAM NAME ABBR-->
				<div class="col-xs-5 col-sm-6">
					<span class="short-name" ng-class="game.favHome ? '' : 'home'">{{game.dogShortName}}</span><span class="long-name" ng-class="game.favHome ? '' : 'home'">{{game.dogFullName}}</span>
				</div>

				<!-- SPREAD -->
				<div class="col-xs-1"><span class="spread">&nbsp;</span></div>
	
				<!-- SCORE -->
				<div class="col-xs-1">{{game.dogScore}}</div>
			</div>
		</div>
	</div>
</div>				